// stripping styles
* {
    margin:0;
    padding:0;
    line-height: 1.6;
}

html {
    font-size: 125%;
}

body {
    font-family: @main-ff;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: black;
    color: white;
}

.skip-link:focus {
    left:0;
}

.wrapper {
    max-width:1280px;
    width:90%;
    margin: 0 auto;
}

// header styles
.mobile-nav {
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    @media @desktop {
        justify-content: center;
    }
}

.menu {
    display:none;
    text-align: right;
    position:absolute;
    top:0;
    bottom:50%;
    right:0;
    left:50%;
    background:@secondary;
    li {
        font-size:2rem;
        padding:10px;
    }
    a{
        color: white;
    }
    @media @desktop {
        display: block;
    }
    ul {
        @media @desktop {
            display:flex;
            justify-content: space-around;
        }
    }
}

.show {
    display:block;
}

.hamburger {
    font-size: 1.5rem;
    @media @desktop {
        display:none;
    }
}

.exit-responsive {
    @media @desktop {
        display: none;
    }
}

header {
    @media @desktop {
        min-height: 70vh;
        // background: url(../../assets/background.png);
        // background-size: cover;background-attachment:fixed;
        position:relative;
    }
}

// intro styles
.intro {
    margin-top:10vh;
    h1 {
        font-size: 1.3rem;
        @media @desktop {
            margin: 20%;
            font-size: 2.2rem;
        }
    }
}

.intro span{

    &:nth-child(1) {
        color: @secondary;
    }
    &:nth-child(2) {
        color: @tertiary;
    }
}

.container {
    display:flex;
    justify-content: center;
}

.header-img-container {
    .container();
    margin:15%;
    @media @desktop {
        margin-bottom:10%;
    }
    img {
        width: 10%;
        @media @desktop {
            width: 5%;
        }
        &:nth-child(2) {
            display:none;
            @media @desktop {
                display: block;
                position:absolute;
                //position is relative to header
                bottom: 0;
                right:10%;
                width:20%;
            }
        }
    }
}

// about


.greeting {
    display:flex;
    flex-direction: row;
    img {
        width:15%;
        margin-right:15px;
    }
}

.greeting,
.about-description h3,
#contact h2 {
    color:@secondary;
}

.paragraph-spacing {
    margin: 25px 0;
}

#about p {
    .paragraph-spacing();
}

#about {
    @media @desktop {
        display:flex;
    }
    .about-pic-container {
        .container();
        img {
            width:90%;
            margin-bottom: 15%;
            @media @desktop {
                margin-bottom: 0;
                width: 400px;
                height: 400px;
                align-self: center;
            }
        }
    }
    .about-description {
        flex: 1 0 60%;
    }
}

// common styles
.one-liner,
h3,
#work p {
    font-size: 1.1rem;
}

.one-liner,
#work p,
.desktop-version-work span {
    color: @tertiary;
}

.intro span,
h2 {
    font-family: @header-span-ff;
}

// work styles
#work {
    margin-top: 20%;
    @media @desktop {
        margin-top:0;
        .mobile-version-work-intro {
            display:none;
        }
    }
    a {
        margin: 20% 0;
        padding: 20px;
        border-radius: 50px;
        display:block;
        text-align: center;
        background: @secondary;
        color:white;
    }
}

.desktop-version-work {
    display:none;
    @media @desktop {
        display: block;
        h2 {
            text-align: center;
        }
        span {
            display:block;
        }
    }
}

.projects {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.project-container {
    position:relative;
    border-radius: 5px;
    box-shadow:10px 10px 22px -20px rgba(0,0,0,0.75);
    margin: 2.5%;
    flex: 0 0 45%;
    &:hover .overlay,
    &:focus .overlay {
        opacity: 1;
    }
    .work-completed {
        position: absolute;
        max-width:75%;
        top:15px;
        padding:15px;
        background: rgba(255,255,255,0.85);
        border-radius: 0 50px 50px 0;
    }
    .work-description {
        padding:20px;
        min-height:35%;
        position:absolute;
        bottom:0;
        // if want to overlap img
        background: white;
    }

    h3 {
        font-size: 1.3rem;
    }
}

.overlay {
    background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    opacity: 0;
    a:hover,
    &:focus {
        border:5px blue solid;
    }
}



// contact styles
#contact {
    fieldset {
    border:none;
    }
    ul {
        display:flex;
        justify-content: space-around;
    }
    a {
        color: @secondary;
        text-shadow: 0px 0px 5px white;
        padding:5px;
        border: 2px solid @secondary;
        &:hover,
        &:focus {
            color: white;
            text-shadow: 0px 0px 5px @secondary;
            // text-shadow: 3px 3px 3px @tertiary;
        }
    }
}


form {
    label,
    input,
    button {
        display:block;
    }
    input,
    textarea,
    .form-button {
        width:100%;
        border: 2px @secondary solid;
        padding:5px;
        &:focus {
            border:2px lighten(@secondary, 20%) solid;
        } 
    }
    textarea {
        resize:none;
    }
    label {
        color: @tertiary;
    }
    .form-button {
        // width:100%;
        margin:20px 0;
        background: @secondary;
        // border: 2px $pink solid;
        color: white;
        transition: all 0.3s ease;
        &:focus,
        &:hover {
            background:white;
            color:@secondary;
        }
    }
}


// footer styles
footer {
    margin-top: 20px;
    text-align: center;
}