// stripping styles
* {
    margin:0;
    padding:0;
    line-height: 1.6;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
    }
}

html {
    font-size: 125%;
}

body {
    font-family: @main-ff;
    // background: url(../../assets/background.png) top left;
    // background-size: cover;
    // background-attachment: fixed;
    @media @tablet {
        background: url(../../assets/background.png) top left no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
}

h1, h2, h3 {
    font-family: @header-span-ff;
}

h3 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: black;
    color: white;
}

.skip-link:focus {
    left:0;
}

.wrapper {
    max-width:1280px;
    width:90%;
    margin: 0 auto;
}

// header styles

.nav-bar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    // background: rgba(250,250,250,0.8);
    background: rgba(255,94,152, 0.2);

    padding: 10px;
    display:flex;
    justify-content: space-between;

    .logo-container {
        display:flex;
        align-self: center;
    }

    @media @tablet {
        justify-content: center;
        position: initial;
        background: initial;
    }
}

.menu {
    display:none;
    text-align: right;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    // background:@secondary;
    background: rgba(255,94,152, 0.9);


    @media @tablet {
        background:none;
        position:static;
        display:block;
    }
    li {
        font-size:2rem;
        padding:10px;
        @media @tablet {
            font-size: 1.2rem;
        }
    }
    a{
        color: white;
        @media @tablet {
            color: @primary;
        }
    }
    ul {
        @media @tablet {
            display:flex;
            justify-content: center;
        }
    }
}

.show {
    display:block;
}

.hamburger {
    font-size: 1.5rem;
    @media @tablet {
        display:none;
    }
}

.exit-responsive {
    @media @tablet {
        display: none;
    }
}

header {
    @media @tablet {
        min-height: 50vh;
        // background: url(../../assets/background.png);
        // background-size: cover;background-attachment:fixed;
        position:relative;
    }
}

// intro styles
.intro {
    margin-top:20vh;
    h1 {
        font-size: 1.3rem;
        @media @tablet {
            margin: 10%;
            font-size: 2rem;
        }
        @media @desktop {
            margin: 20%;
            font-size: 2.2rem;
        }
    }
    span{
        font-family: @header-span-ff;
        &:nth-child(1) {
            color: @secondary;
        }
        &:nth-child(2) {
            color: @tertiary;
        }
    }
}

.container {
    display:flex;
    justify-content: center;
}

.header-img-container {
    .container();
    margin:15%;
    @media @tablet {
        margin-bottom:10%;
    }
    img {
        width: 10%;
        @media @tablet {
            width: 5%;
        }
    }
}

// about
.greeting-emoji {
    display:flex;
    flex-direction: row;
    color:@secondary;
    img {
        width:50px;
        margin-right:15px;
        @media @desktop {
            width: 5%;
        }
    }
}


.paragraph-spacing {
    margin: 25px 0;
}

#about {
    @media @desktop {
        display:flex;
    }
    .about-pic-container {
        .container();
        img {
            width:90%;
            margin-bottom: 15%;
            @media @tablet {
                margin-bottom: 0;
                width: 400px;
                height: 400px;
                align-self: center;
            }
        }
    }
    .about-description {
        h3 {
            color: @secondary;
        }
        @media @tablet {
            flex: 1 0 60%;
            margin-left:20px;
            padding:3%;
        }
        @media @desktop {
            box-shadow:0px 4px 1px 1px rgba(235,235,235,1);
        }
    }
    p {
        .paragraph-spacing();
        @media @desktop {
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

.one-liner {
    font-size: 1.3rem;
    color: @tertiary;
}

// work styles
#work {
    margin-top: 20%;
    p {
        color: @tertiary;
        // font-size: 1rem;
    }
    @media @tablet {
        margin-top:0;
        .mobile-version-work-intro {
            display:none;
        }
    }
    a {
        margin: 20% 0;
        padding: 20px;
        border-radius: 50px;
        display:block;
        text-align: center;
        background: @secondary;
        color:white;
        &:nth-child(2) {
            background: @tertiary;
        }
        @media @tablet {
            margin: 15px;
        }
    }
}

.desktop-version-work {
    display:none;
    @media @tablet {
        display: block;
        h2 {
            text-align: center;
            margin: 50px 0;
        }
        span {
            display:block;
            color: @tertiary;
        }
    }
}

.projects {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.project-container {
    background: white;
    position:relative;
    border-radius: 5px;
    // box-shadow:0px 5px 5px 2px rgba(0, 0, 0, 0.2);

    box-shadow:0px 4px 1px 1px rgba(235,235,235,0.2);
    margin: 2.5%;
    flex: 0 0 45%;
    &:hover .overlay,
    &:focus .overlay {
        opacity: 1;
    }
    .work-completed {
        position: absolute;
        max-width:75%;
        top:15px;
        padding:15px;
        background: rgba(255,255,255,0.85);
        border-radius: 0 50px 50px 0;
        font-family: @header-span-ff;
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .work-description {
        border-radius: 0 0 5px 5px;
        padding:20px;
        // min-height:35%;
        // position:absolute;
        // bottom:0;

        // if want to overlap img
        background: white;
        font-weight: regular;
    }

    h3 {
        font-size: 1.3rem;
        font-family: @header-span-ff;
    }
}

.overlay {
    background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    opacity: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    a {
        width:50%;
        &hover,
        &:focus {
            outline: 5px auto -webkit-focus-ring-color;
        }
    }
}



// contact styles
#contact {
    h2 {
        color: @secondary;
    }
    @media @tablet {
        margin-top: 50px;
    }
    @media @desktop {
        margin: 15%;
    }
    fieldset {
    border:none;
    margin:0;
    padding:0;
    }
    ul {
        display:flex;
        justify-content: space-around;
        @media @desktop {
            margin-top: 50px;
        }
    }
    a {
        color:@secondary;
        background: white;
        border-radius: 5px;
        padding:5px;
        border: 2px solid @secondary;
        transition: ease 0.3s all;
        &:hover,
        &:focus {
            color: white;
            background: @secondary;
        }
    }
}



form {
    label,
    input,
    button {
        display:block;
    }
    input,
    textarea,
    .form-button {
        width:100%;
        border: 2px @secondary solid;
        padding:5px;
        border-radius: 5px;
        &:focus {
            border:2px @secondary solid;
        } 
    }
    textarea {
        resize:none;
    }
    label {
        color: @tertiary;
        margin:5px 0;
    }
    .form-button {
        // width:100%;
        margin:20px 0;
        background: @secondary;
        
        color: white;
        transition: all 0.3s ease;
        &:focus,
        &:hover {
            background:white;
            color:@secondary;
        }
    }
}


// footer styles
footer {
    margin-top: 20px;
    text-align: center;
}