// stripping styles
* {
    margin:0;
    padding:0;
    line-height: 1.6;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
    }
}

html {
    font-size: 125%;
}

body {
    font-family: @main-ff;
    color: @primary;
    @media @mid-size {
        background: url(./../assets/background.jpg) center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

h1, h2, h3 {
    font-family: @header-span-ff;
}

h2 {
    @media @desktop {
        font-size: 2.5rem;
    }
}

h3 {
    font-size: 1.3rem;
    @media @desktop {
        font-size: 2rem;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display:block;
    width:100%;
    max-width: 100%;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: black;
    color: white;
}

.skip-link:focus {
    left:0;
}

.wrapper {
    max-width:1280px;
    width:90%;
    margin: 0 auto;
}


