// variables
@primary: #42406c;
@secondary: #CE3B82;
@tertiary: #1C9DA9;

@header-span-ff: 'Questrial', sans-serif;
@main-ff: 'Quicksand', sans-serif;



// media queries
@mobile: ~"only screen and (min-width: 320px) and (max-width: 479px)";

@mid-size: ~"only screen and (min-width: 480px)";

@tablet: ~"only screen and (min-width: 720px)";

@desktop: ~"only screen and (min-width: 960px)";

@XLdesktop: ~"only screen and (min-width: 1200px)";
